body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.25rem;
}

h1 {
  font-weight: lighter;
  color: navy;
  background-color: #fcbe37;
  margin: 0rem;
  padding: 0rem;
  border: 2px solid navy;
}

h2 {
  margin: 0rem;
  background-color: lightcoral;
  border: 2px solid darkorchid;
}
a {
  color: skyblue;
  text-decoration: none;
}

a:hover {
  color: crimson;
}

p {
  border: 5px solid darkgoldenrod;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}
#laptop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
#wrapper {
  border: 5px solid darkkhaki;
  width: 90%;
  margin: auto;
}

label {
  display: block;
  font: 1rem "Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";
}

#search button {
  cursor: pointer;
  background-color: navy;
  color: white;
  border: none;
  padding: 0.25rem 2rem;
  font-size: 100%;
}

#search input {
  font-size: 100%;
}
